<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Hospital System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Hospital System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/doctors}">Registration</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Register </h1>
            <div class = "card-body">
                <form th:action="@{/save}" th:object = "${client}" method="POST">
                    <div class ="form-group">
                        <label> Your name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Your Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Your surname </label>
                        <input
                                type = "text"
                                name = "surname"
                                th:field = "*{surname}"
                                class = "form-control"
                                placeholder="Enter your surname"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Date of birth </label>
                        <input
                                type = "date"
                                name = "dateOfbirth"
                                th:field = "*{dateOfbirth}"
                                class = "form-control"
                                placeholder="Your date of birth"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Problem </label>
                        <input
                                type = "text"
                                name = "problem"
                                th:field = "*{problem}"
                                class = "form-control"
                                placeholder="Your problem"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Your email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Your email"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Your phone number </label>
                        <input
                                type = "number"
                                name = "phone"
                                th:field = "*{phone}"
                                class = "form-control"
                                placeholder="Your phone number"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Who you want to register </label>
                        <input
                                type = "number"
                                name = "whom"
                                th:field = "*{whom}"
                                class = "form-control"
                                placeholder="Who you want to register"
                        />
                    </div>

                    <div class ="form-group">
                        <label> What time you want to get a registration </label>
                        <input
                                type = "date"
                                name = "when"
                                th:field = "*{when}"
                                class = "form-control"
                                placeholder="Time"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>